@import url('https://fonts.googleapis.com/css?family=Chewy&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: orangered; 
    font-family: 'Chewy', sans-serif;
    font-size: 20px;
}

.welcome{
    background-image: url("https://bit.ly/39kneJu");
    background-repeat: no repeat;
    background-size: cover;
    height: 600px;
}

 .overlay{
   background: rgba(43, 41, 41, 0.842);
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
} 

nav{
    color: orangered;
    background-color: transparent;
}

#pizap{
    padding-right: 600px;
}

li{
    display: inline;
    margin-right: 50px;
}
.intro{
    padding-top: 250px;
    color: orangered;
    font-size: 30px;
    letter-spacing: 4px;
}
#arrow img{
    margin-left:750px;
    padding-top: 130px;
    padding-bottom: 100px;
}
#menu{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
}
.overlay2{
    background-image: url("https://bit.ly/3cl2XFN");
    background-repeat: no repeat;
    background-size: cover;
    height: 600px;
}
#choice{
    padding-left: 70px;
}
.form2{
    padding-bottom: 60px;
}
input[type=name],input[type=email],#comment{
    background: black;
    color: orangered;
}
#least{
    margin-left: 450px;
    padding-left: 80px;
    padding-right: 80px;
    
}
footer{
    background-color: orangered;
    height: 50px;
}
.fa {
    padding-top: 80px;
    font-size: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  margin-left: 600px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}